*{
    font-family: 'Roboto Slab', serif;
 
}
div p{
    color:white;
}
body{
    margin: 0;
    }
label p{
    font-stretch:1.5em;
    color:white;
}
  .links{
      color:white;
      background-color:rgba(0,0,0,0.3);
  }
  .links a{
    text-decoration:none;
     color:violet;
  }
 .links a:hover {
      color:violet;
    text-decoration:underline;
     font-size:55px;
  }
   h1 a{
      font-size:45px;
  }

.barakuda{
    margin:0;
    height:64px;
    background-color: #333;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
      float: left;
      margin: 0;
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px 40px;
      text-decoration: none;
      margin: 0;
      
  }

  li a:hover {
      background-color: #111;
      margin: 0;
      color:white;
  }

   .mainpic{
      width:100%;
      height:900px;
      background-image: url(44.jpg);
      margin-bottom:7%;
  }
.pictext{
    width:50%;
    height:40%;
    margin-left:50px;
    background-color:rgba(0,0,0,0.45);
    color:white;
    margin-top: 0;
  }
.otherpart{
    width:100%;
    background-color:black;
    background-size:100%;
    display: inline-block;
    align-items: center;

  }

.freespace{
    width:100%;
    height:300px;
    margin:0px;
    
}
.card-d
{
    color:white;
     text-align:justify;
}
.pict{
    height:100%;
}

div.carousel-item > div {
    display: inline-block;
}
div.carousel-item > img {
    vertical-align: middle;
}


  
  #feedback-page{
      text-align:center;
  }
  
  #form-main{
      width:100%;
      float:left;
      padding-top:0px;
  }
  
  #form-div {
      background-color:rgba(72,72,72,0.4);
      padding-left:35px;
      padding-right:35px;
      padding-top:35px;
      padding-bottom:50px;
      width: 450px;
      float: left;
      left: 50%;
      position: absolute;
    margin-top:30px;
      margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
  }
  
  .feedback-input {
      color:#3c3c3c;

    font-weight:500;
      font-size: 18px;
      border-radius: 0;
      line-height: 22px;
      background-color: #fbfbfb;
      padding: 13px 13px 13px 54px;
      margin-bottom: 10px;
      width:100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }
  
  .feedback-input:focus{
      background: #fff;
      box-shadow: 0;
      border: 3px solid orange;
      color:orange;
      outline: none;
    padding: 13px 13px 13px 54px;
  }
  
  .focused{
      color:orange;
      border:orange solid 3px;
  }
  
  /* Icons ---------------------------------- */
  #name{
      background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #name:focus{
      background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
      background-size: 30px 30px;
      background-position: 8px 5px;
    background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #email{
      background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #email:focus{
      background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
      background-size: 30px 30px;
    background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #comment{
      background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
      resize:vertical;
  }
  
  input:hover, textarea:hover,
  input:focus, textarea:focus {
      background-color:white;
  }
  
  #button-blue{
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      float:left;
      width: 100%;
      border: #fbfbfb solid 4px;
      cursor:pointer;
  
      color:#333;
      font-size:24px;
      padding-top:22px;
      padding-bottom:22px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  
  #button-blue:hover{
      background-color: rgba(0,0,0,0);
      color: orange;
  }
      
  .submit:hover {
      color: orange;
  }
      
  .ease {
      width: 0px;
      height: 74px;

      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      -o-transition: .3s ease;
      -ms-transition: .3s ease;
      transition: .3s ease;
  }
  
  .submit:hover .ease{
    width:100%;
    
  }
  
  @media only screen and (max-width: 580px) {
      #form-div{
          left: 3%;
          margin-right: 3%;
          width: 88%;
          margin-left: 0;
          padding-left: 3%;
          padding-right: 3%;
      }
  }